/*-------------------------------

	CUSTOM POPUP.CSS

-------------------------------*/


.pop-up-box {
    display: none;
    text-align: center;

}
#pop-margin { /*HERE*/

    padding:35px;
}
.desc {

}
.popup{

}


/*.popup-content {
    border: 5px solid #07397F;
    background: #fff;
    padding-left:150px;
}*/

.popup-content img {
    /*display: block;*/
    /*height: 175px;*/
    height:100%;
    width: 100%;
    z-index:999;
}
.popup_content {
    padding-right: 20px;
    padding-left: 150px;
    border: 5px solid #07397F;
    z-index:1999;
    height:100%;
}

.popup_content .popup-content {
    padding: 50px;
    /*height:100%;*/
    margin: auto;


}
#pop-up {

}

.popup-content h3 {
    text-align: center;
}

.popup-content a {
    border: 1px solid #07397F;
    color: #07397F;
    /*display: inline;*/
    margin: auto;
    text-decoration: none;
    text-align: center;
/*-------CUSTOM CENTERING-------*/
    /*margin: auto;*/
    width: 60%;
    padding: 10px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.popup_content a:hover {
    background: #07397F;
    color: #fff;
}


/*----- Popup Sty;es [ END CUSTOM ] --------*/



/*-------------------------------

	POPUP.CSS

-------------------------------*/

.popup_back {
	height: 50%;
	/*left: 0;*/
	position: fixed;
	top: 0;
	/*max-width: 800px;*/
	z-index: 1200;
	background-color: #fff;
}

.popup_cont {
	position: fixed;
	z-index: 1100;
	/*height:90%;*/
}

.preloader {
	z-index: 1110;
}

/*---------------------

	EDIT BELOW

*/

.popup_close {
	color: #fff;
	cursor: pointer;
  background: #343333;
	position: fixed;
	/*left: 10px;*/
	right:0;
	top:0;
	z-index: 1300;
	/*margin-top:5%;*/
	width:100px;
	height:150px;
	size:120px;
	/*background: url(https://cdn0.iconfinder.com/data/icons/huge-black-icons/512/Undo.png);*/
  /*margin-right: 5%;*/
  /*margin-top: 5%;*/

}
.popup_close{
 /*margin-top:5%;*/
  font-size: 100px;
    text-align: center;

}



@media only screen and (max-width: 768px) {
    .popup_close {
        color: #fff;
        background: #343333;
    }
    div.popup {
			/*background: #fff;*/
			/*margin-right:75px;*/
			/*padding-left:75px;*/
			/*padding-right:75px;*/
			/*margin:300px;*/
		}	
}

.popup_back {
	cursor: pointer;
	background-color: #222;
}

div.popup {
	background: #fff;
	/*margin-right:75px;*/
	/*padding-left:2%;*/
	/*padding-right:75px;*/
	/*margin:300px;*/
}
/*Custom Section CSS*/
#portfolio-2 a {
	text-align
}

.preloader {
	left: 50%;
	margin: -10px 0 0 -25px;
	position: fixed;
	top: 50%;
}


