/*-------------------------------

	POPUP.CSS

-------------------------------*/

.popup_back {
	height: 50%;
	left: 0;
	position: fixed;
	top: 0;
	/*max-width: 800px;*/
	z-index: 1080;
	background-color: #fff;
}

.popup_cont {
	position: fixed;
	z-index: 1100;
	/*height:90%;*/
}

.preloader {
	z-index: 1110;
}

/*---------------------

	EDIT BELOW

*/

.popup_close {
	color: #343333;
	cursor: pointer;
    background: #fff;
	position: fixed;
	/*padding: 0 5px;*/
	left: 10px;
	top: 0px;
	/*font-size:8px;*/
	z-index: 1500;
	/*margin-left: 325px;*/
/*	padding-top: 150px;
	padding-left: 150px;*/
}

@media only screen and (max-width: 768px) {
    .popup_close {
        color: #fff;
        background: #343333;
    }
    div.popup {
			/*background: #fff;*/
			/*margin-right:75px;*/
			/*padding-left:75px;*/
			/*padding-right:75px;*/
			/*margin:300px;*/
		}	
}

.popup_back {
	cursor: pointer;
	background-color: #222;
}

div.popup {
	background: #fff;
	/*margin-right:75px;*/
	/*padding-left:2%;*/
	/*padding-right:75px;*/
	/*margin:300px;*/
}
/*Custom Section CSS*/
#portfolio-2 a {
	text-align
}

.preloader {
	left: 50%;
	margin: -10px 0 0 -25px;
	position: fixed;
	top: 50%;
}